/* GENERAL */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    
}

/* MAIN */

.main {
    width: 100%;
    max-width: 765px;
    min-width: 320px;
    display: flex;
    color: hsla(0, 0%, 100%, 0.75);
    

}


/* COLUMNS */
.column {
    padding: 2.2rem;
    padding-bottom: 3rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.column.active {
    width: 50%;


}

.column:first-of-type {
    border-radius: .5rem 0 0 .5rem;
}

.column:last-of-type {
    border-radius: 0 .5rem .5rem 0;
}

.sedans {
    background-color: hsl(31, 77%, 52%);


}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}

.sedans .link {
    color: hsl(31, 77%, 52%);
}

.suvs .link {
    color: hsl(184, 100%, 22%);
}

.luxury .link {
    color: hsl(179, 100%, 13%);
}

/* Icons */

.icon {
    width: 30%;
}

/* Headings */
.title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 1.9rem;
    color: hsl(0, 0%, 95%);
}

/* text */
.text {
    padding-bottom: 4rem;
    line-height: 1.2rem;
    font-weight: lighter;
    flex-grow: 1;
}

/* Links */
.link {
    background-color: hsl(0, 0%, 95%);
    border-radius: 25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.link:hover {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}





